%p#notice= notice

%h1
  = @user.name

%p
  %b Email:
  = @user.email

%p
  %b Linked to Dropbox:
    = @user.dropbox? ? 'Yes' : 'No'

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
